@font-face {
  font-family: scriptina;
  src: url(../../assets/scriptina.ttf);
}

@font-face {
  font-family: publicSans;
  src: url(../../assets/PublicSans-Regular.otf);
}

body {
  background-color: black;
  font-family: publicSans;
}

div {
  color: white;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 4vh;
}

#title h1 {
  color: #ccae28;
  text-shadow: -2px 2px 1px black;
  letter-spacing: 3px;
  font-size: 400%;
  margin-top: -35px;
  font-family: scriptina;
  font-style: italic;
}

#title h2 {
  text-shadow: -1px 1px 1px black, 1px -1px 1px black, 1px 1px 1px black, -1px -1px 1px black;
  font-size: 90%;
  margin-top: -90px;
  font-style: italic;
  z-index: 1;
  position: relative;
}

#contents {
  letter-spacing: 0.2px;
  color: #ebe8fc;
  line-height: 200%;
}

#crescent {
  height: 70px;
  width: 70px;
  float: left;
  margin-right: -59px;
  margin-top: 65px;
}

#navigation a {
  font-size: 150%;
  color: white;
  text-decoration: none;
  margin: 1% 13% 5% 4%;
  border-radius: 25px;
  padding: 10px;
}

#navigation a.selected {
  color: black;
  background-color: #958db7;
}

#navigation a:hover {
  color: black;
  background-color: white;
}

#art {
  text-align: center;
}

.artdiv {
  display: inline-block;
  text-align: left;
  width: 20vw;
  height: auto;
  margin: 1% 1.5% 3% 1.5%;
  transition: width 0.5s, margin 0.5s;
  line-height: 130%;
  letter-spacing: 0.2px;
}

.artdiv img {
  height: auto;
  transition: width 0.25s;
}

.artdiv p {
  transition: margin-top 0.5s, margin-bottom 0.15s, width 0.25s;
  margin-top: -5px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  background-color: #1e1626;
  width: 23vw;
  padding: 0px;
  border-top: 3vh;
  border-right: 1vw;
  border-left: 1vw;
  border-bottom: 3vh;
  border-style: solid;
  border-color: #1e1626;
}

.norm {
  width: 20vw;
}

.enlarged {
  width: 25vw;
  position: relative;
  z-index: 2;
}

#output {
  color: black;
  text-align: center;
  background-color: white;
  margin-left: 2.5vw;
  width: 95%;
  position: absolute;
}

#output img {
  width: 100%;
  height: auto;
}

#output p {
  margin: 2%;
}

#x {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  background-color: black;
  color: white;
  border: solid;
  border-color: black;
  border-radius: 25%;
}

.showing {
  border: solid;
  border-color: white;
  border-width: 1%;
  border-radius: 25px;
}

.hidden {
  display: none;
}

p.phidden {
  padding: 0px;
  border: none;
  height: 0px;
  width: 18vw;
  margin-top: -150px;
  margin-bottom: 150px;
}

.display {
  display: inline-block;
}
