body {
  background-color: black;
}

div {
  color: white;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 4vh;
}

#title h1 {
  color: #ccae28;
  font-style: italic;
  font-size: 400%;
  margin-top: 50px;
}

#title h2 {
  color: #958db7;
  font-size: 90%;
  margin-top: -48px;
}

#crescent {
  height: 70px;
  width: 70px;
  float: left;
  margin-right: -50px;
}

#navigation a {
  font-size: 150%;
  color: white;
  text-decoration: none;
  margin: 1% 13% 5% 4%;
  border-radius: 25px;
  padding: 10px;
}

#navigation a.selected {
  color: #f7e288;
  background-color: #958db7;
}

#navigation a:hover {
  color: black;
  background-color: white;
}

.gamediv {
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  transition: margin-left .5s;
}

.gamediv:hover {
  margin-left: 7vw;
}

.gamediv a {
  font-size: 150%;
  font-style: italic;
  color: #b09ffc;
  text-decoration: none;
  margin-bottom: 1vh;
}

.gamediv a:hover {
  color: #ccae28;
}

.gamediv p {
  margin-top: 0vh;
  margin-bottom: 1vh;
}

h3 {
  font-size: 200%;
  margin-top: 5vh;
  margin-bottom: 1vh;
  color: #fce7b5;
}
