@font-face {
  font-family: scriptina;
  src: url(../../assets/scriptina.ttf);
}

@font-face {
  font-family: publicSans;
  src: url(../../assets/PublicSans-Regular.otf);
}

body {
  background-color: black;
  font-family: publicSans;
}

div {
  color: white;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 4vh;
}

#title h1 {
  color: #ccae28;
  text-shadow: -2px 2px 1px black;
  letter-spacing: 3px;
  font-size: 400%;
  margin-top: -35px;
  font-family: scriptina;
  font-style: italic;
}

#title h2 {
  text-shadow: -1px 1px 1px black, 1px -1px 1px black, 1px 1px 1px black, -1px -1px 1px black;
  font-size: 90%;
  margin-top: -90px;
  font-style: italic;
  z-index: 1;
  position: relative;
}

#navigation {
  text-align: center;
}

#contents {
  letter-spacing: 0.2px;
  color: #ebe8fc;
  line-height: 200%;
}

#crescent {
  height: 70px;
  width: 70px;
  float: left;
  margin-right: -59px;
  margin-top: 65px;
}

#navigation a {
  font-size: 150%;
  color: white;
  text-decoration: none;
  margin: 1% 6vw 5% 6vw;
  border-radius: 25px;
  padding: 10px;
}

#navigation a.selected {
  color: black;
  background-color: #958db7;
}

#navigation a:hover {
  color: black;
  background-color: white;
}

.gamediv {
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  transition: padding-left 0.1s, background-color .25s;
  line-height: 130%;
  letter-spacing: 0.2px;
}

.gamediv:hover {
  padding-left: 2vw;
  padding-right: 1vw;
  background-color: #1e1626;
  border-width: 2%;
  border-style: solid;
  border-color: #1e1626;
  border-radius: 25px;
}

.gamediv a {
  font-size: 150%;
  font-style: italic;
  color: #b09ffc;
  text-decoration: none;
  margin-bottom: 1vh;
}

.gamediv a:hover {
  color: #ccae28;
}

.gamediv p {
  margin-top: 0vh;
  margin-bottom: 1vh;
}

h3 {
  font-size: 200%;
  margin-top: 5vh;
  margin-bottom: 1vh;
  color: #fcd988;
}
